version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    commit-message:
      prefix: chore(deps-gha)
  - package-ecosystem: 'npm'
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: chore(deps-npm)
