@use "../../pages/theme/colors.scss" as colors;
@use "sass:color";

.root {
    border-top-width: 1px;
    padding-top: 28px;
}

.title {
    font-weight: 500;
    font-size: 16px;
}

.feedback {
    margin-bottom: 36px;
    margin-top: 36px;
}

.buttonContainer {
    display: inline-flex;
    flex-wrap: wrap;
}

.button {
    background-color: colors.$base80;
    border-radius: 16px;
    box-shadow: 0 6px 12px color.adjust(colors.$black, $alpha: -0.95);
    display: flex;
    font-weight: 500;
    margin-right: 16px;
    margin-top: 16px;
    padding: 16px 24px;
    transition: 0.5s;

    &:hover {
        background-color: colors.$purple20;
        box-shadow: 0 6px 12px color.adjust(colors.$purple140, $alpha: -0.95);
        transition: 0.5s;

        .thumbsDown, .thumbsUp {
            color: colors.$purple200;
            transition: 0.5s;
        }

    }
}

.thumbsUp {
    color: green;
}

.thumbsDown {
    color: colors.$lava140;
}

.inlineIcon {
    display: inline-block;
    margin-left: 8px;
    width: 22px;
}
