apis:
  annotations:
    root: ./src/annotations.openapi.yaml
    output: ./out/annotations-api.json
  data-pipelines:
    root: ./src/data-pipelines.openapi.yaml
    output: ./out/data-pipelines-api.json
  export:
    root: ./src/export.openapi.yaml
    output: ./out/event-export-api.json
  featureflags:
    root: ./src/feature-flags.openapi.yaml
    output: ./out/feature-flags-api.json
  gdpr:
    root: ./src/gdpr.openapi.yaml
    output: ./out/gdpr-api-2.json
  identity:
    root: ./src/identity.openapi.yaml
    output: ./out/identity-api.json
  ingestion:
    root: ./src/ingestion.openapi.yaml
    output: ./out/ingestion-api.json
  lexicon-schemas:
    root: ./src/lexicon-schemas.openapi.yaml
    output: ./out/lexicon-schemas-api.json
  query:
    root: ./src/query.openapi.yaml
    output: ./out/query-api.json
  service-accounts:
    root: ./src/service-accounts.openapi.yaml
    output: ./out/service-accounts-api.json
  warehouse-connectors:
    root: ./src/warehouse-connectors.openapi.yaml
    output: ./out/warehouse-connectors-api.json

extends:
  - recommended

rules:
  info-license: off
  paths-kebab-case: off
  boolean-parameter-prefixes: off
  operation-description: off

  # Todo: fix these offenders
  operation-tag-defined: off
  parameter-description: off
