{
  "openapi": "3.1.0",
  "info": {
    "title": "Mixpanel Platform API",
    "version": "1",
    "description": ""
  },
  "servers": [
    {
      "url": "https://platform-us.mixpanel.com",
      "description": "US"
    },
    {
      "url": "https://platform-eu.mixpanel.com",
      "description": "EU"
    },
    {
      "url": "https://platform-in.mixpanel.com",
      "description": "IN"
    }
  ],
  "paths": {
    "/v1/projects/{project_id}/thing": {
      "post": {
        "operationId": "create_thing_for_project",
        "summary": "Create Thing For Project",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateThingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestValidationErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a cool thing for your project!",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThingRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ServiceAccountAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateThingResponse": {
        "description": "A cool thing was created!",
        "properties": {
          "id": {
            "description": "The unique identifier of the created thing",
            "title": "Id",
            "type": "integer"
          },
          "project_id": {
            "description": "The ID of the project to which the thing belongs",
            "title": "Project Id",
            "type": "integer"
          },
          "name": {
            "description": "The name of the created thing",
            "title": "Name",
            "type": "string"
          },
          "description": {
            "description": "A detailed description of the created thing",
            "title": "Description",
            "type": "string"
          },
          "created_by": {
            "description": "The email of the user who created the thing",
            "title": "Created By",
            "type": "string"
          }
        },
        "required": [
          "id",
          "project_id",
          "name",
          "description",
          "created_by"
        ],
        "title": "CreateThingResponse",
        "type": "object"
      },
      "CreateThingRequest": {
        "description": "A cool thing!",
        "properties": {
          "name": {
            "description": "The name of the thing",
            "title": "Name",
            "type": "string"
          },
          "description": {
            "description": "A detailed description of the thing",
            "title": "Description",
            "type": "string"
          }
        },
        "required": [
          "name",
          "description"
        ],
        "title": "CreateThingRequest",
        "type": "object"
      },
      "ErrorResponse": {
        "additionalProperties": false,
        "properties": {
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "A stable reference that identifies the problem type, if applicable.",
            "title": ""
          },
          "status": {
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
            "title": "",
            "type": "integer"
          },
          "instance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "A stable reference that identifies the specific occurrence of the problem, if applicable.",
            "title": ""
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "A human-readable explanation specific to this occurrence of the problem, if applicable.",
            "title": ""
          },
          "error_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "Opaque identifier for this error occurrence. Include it when contacting support so the corresponding server-side error can be located.",
            "title": ""
          },
          "title": {
            "description": "A short, human-readable summary of the problem type.",
            "readOnly": true,
            "title": "",
            "type": "string"
          }
        },
        "required": [
          "status",
          "title"
        ],
        "title": "ErrorResponse",
        "type": "object"
      },
      "RequestValidationErrorItem": {
        "properties": {
          "type": {
            "description": "Machine-readable validation error type, e.g. 'missing'.",
            "title": "Type",
            "type": "string"
          },
          "loc": {
            "description": "Location of the offending value in the request.",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "title": "Loc",
            "type": "array"
          },
          "msg": {
            "description": "Human-readable description of the error.",
            "title": "Msg",
            "type": "string"
          },
          "ctx": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "Additional context about the error, if any.",
            "title": "Ctx"
          }
        },
        "required": [
          "type",
          "loc",
          "msg"
        ],
        "title": "RequestValidationErrorItem",
        "type": "object"
      },
      "RequestValidationErrorResponse": {
        "additionalProperties": false,
        "properties": {
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "A stable reference that identifies the problem type, if applicable.",
            "title": ""
          },
          "status": {
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
            "title": "",
            "type": "integer"
          },
          "instance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "A stable reference that identifies the specific occurrence of the problem, if applicable.",
            "title": ""
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "A human-readable explanation specific to this occurrence of the problem, if applicable.",
            "title": ""
          },
          "error_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "Opaque identifier for this error occurrence. Include it when contacting support so the corresponding server-side error can be located.",
            "title": ""
          },
          "errors": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/RequestValidationErrorItem"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "The set of request validation errors.",
            "title": ""
          },
          "title": {
            "description": "A short, human-readable summary of the problem type.",
            "readOnly": true,
            "title": "",
            "type": "string"
          }
        },
        "required": [
          "status",
          "title"
        ],
        "title": "RequestValidationErrorResponse",
        "type": "object"
      }
    },
    "securitySchemes": {
      "ServiceAccountAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}