@use "../../pages/theme/colors.scss" as colors;

.signUpButton {
  background: linear-gradient(1deg, colors.$purple100 0.97%, colors.$purple50 96.96%);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: colors.$white;
  padding: 10px 22px;
  text-wrap: nowrap;
  border-radius: 100px;
  user-select: none;
  border: 1px solid #1b0b3b;

  &:hover {
    background-color: colors.$purple100;
    transition-property: background;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
    background: linear-gradient(1deg, #{colors.$purple140} 0.97%, #{colors.$purple100} 96.96%)
  }
}
