@use "sass:color";

// Purple
$purple200: #1b0b3b;
$purple140: #5028c0;
$purple100: #7856ff;
$purple50: #9075ff;
$purple40: #b094ff;
$purple20: #e8ddff;

// Lava
$lava200: #5b0137;
$lava140: #cc332b;
$lava100: #ff7558;
$lava40: #ffb0a3;
$lava20: #ffe1d6;

// Mint
$mint200: #112e29;
$mint140: #09b096;
$mint100: #80e1d9;
$mint40: #bcf0f0;
$mint20: #e0fafa;

// Mustard
$mustard200: #a33c16;
$mustard140: #da6b15;
$mustard100: #f8bc3b;
$mustard40: #fede9b;
$mustard20: #ffefdb;

// Base
$base120: #eae6e7;
$base100: #f5f2f2;
$base80: #fbf9f9;

// Neutrals
$black: #000;
$grey100: #201f24;
$grey80: #626266;
$grey50: #9b9b9b;
$grey30: #c0c0c0;
$grey10: #e9e9e9;
$white: #fff;

// Implementations
$page-background: $base100;
$page-border: $base120;
$header-background-color: color.adjust($page-background, $alpha: -0.1);
$header-backdrop-filter: blur(10px);

// Interactions
$hover-color: $purple20;
$active-color: color.adjust($purple20, $lightness: -10%);
$focus-color: $purple140;
$focus-color-border: $purple40;
$focus-color-outline: $purple20;
$focus-color-background: $white;

// Shadows
@mixin image-shadow($is-dark-mode) {
    @if $is-dark-mode {
        box-shadow: 0 4px 4px rgba(0 0 0 / 25%);
    } @else {
        box-shadow: 0 4px 6px rgb(234 231 231 / 80%);
    }
}

@mixin shadow($is-dark-mode, $is-icon) {
    @if $is-dark-mode {
        @if $is-icon {
            filter: drop-shadow(0 4px 24px $purple100);
        } @else {
            filter: drop-shadow(0 4px 4px rgba(0 0 0 / 25%));
        }
    } @else {
        @if $is-icon {
            filter: drop-shadow(0 4px 24px $grey30);
        } @else {
            filter: drop-shadow(0 4px 2px rgb(234 231 231 / 80%));
        }
    }
}

@mixin blurred-header() {
    // Our autoprefixer doesn't appear to work for this property.
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-backdrop-filter: $header-backdrop-filter;
    backdrop-filter: $header-backdrop-filter;
    background-color: $header-background-color;
}

@mixin gradient-footer() {
    background-image: url("~public/image/section/footer/gradient.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 300px;
}

// In Figma, there is a common convention to have a semi-transparent white
// gradient over a purple background, including a border. Border-image
// isn't very compatible with border-radius, so we have to do a pseudo-element
// hack instead that utilizes layering.
// Because of this, we can't use the same dynamic opacity gradient as in Figma.
// Instead, we have to hardcode raw hex values drawn from a screen-based
// color picker. That's why these are hardcoded, though I suppose we could
// work out relative values from SASS' color functions if we really needed to.
@mixin semi-transparent-purple-box() {
    &::before {
        background: linear-gradient(#5b4f71 0%, #2b1b48 100%);
        border-radius: inherit;
        content: "";
        inset: 0;
        position: absolute;
    }

    &::after {
        background: linear-gradient(#3d2f58 0%, #2a1a47 100%);
        border-radius: inherit;
        content: "";
        inset: 1px;
        position: absolute;
    }
}

@mixin dark-mode-box {
    background: linear-gradient(
        179.86deg,
        rgba(255 255 255 / 15%) 0.12%,
        rgba(255 255 255 / 6.25%) 99.88%
    );

    @include image-shadow(true);
}

@mixin dark-mode-box-half-opaque {
    background: linear-gradient(
        179.86deg,
        rgba(255 255 255 / 7%) 0.12%,
        rgba(255 255 255 / 3%) 99.88%
    );

    @include image-shadow(true);
}
