.icon {
  width: 14px;
  margin-right: 6px;
}

.searchBar {
  background: rgba(0, 0, 0, 0);
}

.searchBar:focus {
  box-shadow: none;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .searchBar {
    display: none;
  }

  .icon {
    width: 20px;
  }
}
