@use "./theme/colors.scss" as colors;
@use "./theme/typography.scss" as typography;
@use "sass:color";

$base-spacing: 8px;
$border-radius: 8px;
$border-radius-md: 24px;
$border-radius-lg: 100px;

@font-face {
    font-display: swap;
    font-family: typography.$garnett;
    font-style: normal;
    font-weight: 500;
    src: url("#{typography.$cdn-base}#{typography.$garnett-medium-base}.woff2")
        format("woff2");
}

@font-face {
    font-display: swap;
    font-family: typography.$garnett;
    font-style: normal;
    font-weight: 400;
    src: url("#{typography.$cdn-base}#{typography.$garnett-regular-base}.woff2")
        format("woff2");
}

@font-face {
    font-display: swap;
    font-family: typography.$arizona-text-variable;
    font-style: normal;
    src: url("#{typography.$cdn-base}#{typography.$arizona-text-base}.woff2")
        format("woff2");
}

@font-face {
    font-display: swap;
    font-family: typography.$arizona-text-light;
    font-style: normal;
    src: url("#{typography.$cdn-base}#{typography.$arizona-text-light-base}.woff2")
        format("woff2");
}

@font-face {
    font-display: swap;
    font-family: typography.$apercu;
    font-weight: 500;
    src: url("#{typography.$cdn-base}#{typography.$apercu-base}.woff2")
        format("woff2");
}

@font-face {
    font-family: typography.$apercu-pro;
    font-style: normal;
    font-weight: 400;
    src: url("#{typography.$cdn-base}/apercu/web/5.008/apercu-regular-pro.woff2")
        format("woff2");
}

@font-face {
    font-family: typography.$apercu-pro;
    font-style: normal;
    font-weight: 500;
    src: url("#{typography.$cdn-base}/apercu/web/5.008/apercu-medium-pro.woff2")
        format("woff2");
}

@font-face {
    font-family: typography.$apercu-pro;
    font-style: normal;
    font-weight: 700;
    src: url("#{typography.$cdn-base}/apercu/web/5.008/apercu-bold-pro.woff2")
        format("woff2");
}


// One-off here because I think the font family definitions this was based on are messed up! 
@font-face {
    font-family: "Apercu Monospaced";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.mxpnl.com/static/marketing/fonts/apercu/web/5.008/apercu-mono-regular-pro.woff2")
        format("woff2");
}



.theme-mixpanel {
    line-height: 1.8;
    font-size: 0.88rem;
    letter-spacing: 0.3px;

    // We'll handle our own antialiasing.
    .nx-subpixel-antialiased {
        -webkit-font-smoothing: unset;
        -moz-osx-font-smoothing: unset;
    }
    

    // We'll handle our own tracking.
    .nx-tracking-tight {
        letter-spacing: unset;
    }

    .nx-font-semibold,
    p strong {
        font-weight: 500; // Override to a weight that we actually DO support, otherwise we risk faux bold
    }

    // Get rid of all heading border-bottoms
    h1, h2, h3, h4, h5 {
        &.nx-border-b {
            border-width: 0;
        }
    }

    // Add some space underneath the text underlines
    .\[text-underline-position\:from-font\] {
        text-underline-offset: 3px;
    }

    body {
        background-color: colors.$base100;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        overscroll-behavior-y: none;
        font-family: typography.$garnett-stack;
    }

    // All code/mono type
    code, kbd, samp, pre {
        font-family: "Apercu Monospaced", monospace;
        font-size: 15px;
        line-height: 150%;
        font-variant-ligatures: none;
        font-feature-settings: normal;
        letter-spacing: initial;
    }

    .nextra-content {
        h1, h2, h3, h4, h5 {
            letter-spacing: -0.3px;
        }
    }

    // left-hand sidebar
    .nextra-sidebar-container {
        // nextra currently doesn't name anything in the sidebar properly and only has tailwind functional
        // names, and so this is hacked together so that we get the view that we want

        // bold the parent links, first two are desktop version, second two are mobile version
        // extra specificity is required because we want to distinguish between the top level and nested files
        .nextra-scrollbar > .nx-transform-gpu > .nx-transition-opacity > ul > li > a,
        .nextra-scrollbar > .nx-transform-gpu > .nx-transition-opacity > ul > li > button,
        .nextra-scrollbar > ul > li.open > .nx-transform-gpu > .nx-transition-opacity > ul > li > a,
        .nextra-scrollbar > ul > li.open > .nx-transform-gpu > .nx-transition-opacity > ul > li > button {
            font-weight: 500;
        }

        .nx-transform-gpu > .nx-transition-opacity {
            // styles the separator / category titles
            .first\:nx-mt-0 {
                align-items: center;
                color: colors.$grey80;
                display: flex;
                grid-gap: 8px;
                letter-spacing: 0.16rem;
                padding-bottom: 0;
                padding-top: 24px;
            }

            // modify pressed state
            a:active {
                background-color: color.adjust(colors.$purple40, $alpha: -0.6);
            }
    
            // modify the selected nav item
            .nx-text-primary-800 {
                background-color: colors.$purple20;
                color: colors.$purple140;
            }
    
            // modify the non-selected nav items
            .nx-text-gray-500 {
                color: colors.$purple200;
            }

            // remove the vertical rule within dropdowns
            .before\:nx-w-px:before {
                width: 0;
            }
    
            // modify hover states
            .hover\:nx-bg-gray-100:hover {
                background-color: colors.$purple20;
                color: colors.$purple140;
            }
    
            // add background color to focus states
            li > a:focus-visible, li > button:focus-visible {
                background-color: colors.$white;
            }
    
            // add more spacing to focused states
            li {
                margin-left: 4px;
                margin-right: 4px;
            }
    
            // add more spacing to focused states
            .nx-pt-1 {
                padding-bottom: 0.25rem;
            }

            // decrease the indent in the nav
            ul {
                margin-left: 0;
            }
        }
    }

    // Right-hand sidebar
    .nextra-toc {
        // Remove all hardcoded white backgrounds and shadow filters
        .nx-shadow-\[0_-12px_16px_white\] {
            box-shadow: unset;
        }
        .nx-bg-white {
            background-color: colors.$base100;
        }

            // Add some spacing between the sidebar sections
            ul li {
                margin-top: $base-spacing * 2;
                margin-bottom: $base-spacing * 2;
            }

    }

    .nextra-breadcrumb {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 500;
    }

    // Custom Search theming from Algolia Docsearch
    .DocSearch {
        --docsearch-primary-color: #{colors.$purple200};
        --docsearch-highlight-color:  #{colors.$purple100};
        --docsearch-spacing: #{$base-spacing * 3};
        --docsearch-modal-width: 47rem;
        --docsearch-container-background: rgba(27,11,59,.85);
        --docsearch-modal-background: white;
        --docsearch-footer-height: 60px;
        --docsearch-hit-color: #{colors.$purple200};
        --docsearch-muted-color: #{colors.$purple200};
        
        // Global Nextra theming makes the focus ring look a little nasty
        input:focus-visible {
            box-shadow: none;
        }

        &-SearchBar {
            padding: 80px 88px 32px;
        }

        &-Modal {
            border-radius: $border-radius-md;
        }

        &-Dropdown {
            padding: 0 90px;
            margin-bottom: 20px;
        }
        
        .DocSearch-Hit-action, .DocSearch-Hit-icon, .DocSearch-Hit-Tree {
            color: #{colors.$purple40};
        }

        &-Hit-Tree {
            opacity: 1;
        }

        &-Hit a {
            transition: background-color 0.1s linear;
            border-radius: 0;
            box-shadow: none;
        }

        &-Hits mark {
            color: colors.$purple100;
            font-weight: bold;
        }

        &-Hit {
            border-radius: $border-radius;
            padding-bottom: initial;
            margin-bottom: $base-spacing;
            border: 2px solid #{colors.$purple100};
            overflow: hidden;
        }

        &-Form {
            border-radius: $border-radius-md;
            box-shadow: inset 0 0 0 2px colors.$grey30;
            transition: box-shadow 0.15s linear;

            .DocSearch-MagnifierLabel {
                color: colors.$grey30;
                transition: color 0.15s linear;
            }

            &:focus-within {
                box-shadow: var(--docsearch-searchbox-shadow);

                .DocSearch-MagnifierLabel {
                    color: var(--docsearch-highlight-color);
                }
            }
        }

        &-Footer {
            border-radius: 0 0 $border-radius-md $border-radius-md;
        }

        &-Commands-Key {
            box-shadow: none;
            background: transparent;
            color: colors.$grey50;
        }

        &-Label {
            color: colors.$grey50;
        }

        &-Screen-Icon {
            display: flex;
            justify-content: center;
            color: unset;
        }

        &-NoResults-Prefill-List {
            display: none;
        }

        &-StartScreen {
            display: none;
        }

        &-NoResults {
            color: colors.$grey50;
        }
    }

}

