openapi: 3.0.2
x-readme-deploy-id: ingestion
info:
  title: Ingestion API
  description: APIs allowing for event-based tracking and user profile handling.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
  contact:
    url: https://mixpanel.com/get-support
servers:
  - url: https://api.mixpanel.com
    description: The default (US) servers used for most projects
  - url: https://api-eu.mixpanel.com
    description: EU servers if you are enrolled in EU Data Residency
  - url: https://api-in.mixpanel.com
    description: India servers if you are enrolled in India Data Residency
tags:
  - name: Events
    description: Track events.
  - name: Group Profiles
    description: Manage groups and their properties
  - name: Identities
    description: Register or merge users with a new identity.
  - name: Lookup Tables
    description: Enrich existing event and profile properties
  - name: User Profiles
    description: Manage profiles and their properties
paths:
  /import:
    post:
      tags:
        - Events
      operationId: import-events
      summary: Import Events
      security:
        - ServiceAccount: []
        - ProjectSecret: []
        - OAuthToken: []
      parameters:
        - name: strict
          in: query
          description: When set to 1 (recommended), Mixpanel will validate the batch and return errors per event that failed.
          required: true
          schema:
            type: string
            default: "1"
            enum:
              - "0"
              - "1"
        - name: project_id
          in: query
          description: The Mixpanel project_id, used to authenticate service account credentials.
          required: true
          schema:
            default: <YOUR_PROJECT_ID>
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
            enum:
              - application/json
              - application/x-ndjson
        - name: Content-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - event
                  - properties
                properties:
                  event:
                    type: string
                    title: event
                    description: The name of the event.
                  properties:
                    type: object
                    title: properties
                    description: A JSON object containing properties of the event.
                    required:
                      - time
                      - $insert_id
                      - distinct_id
                    properties:
                      time:
                        type: integer
                        title: time
                        description: The time at which the event occurred, in seconds or milliseconds since UTC epoch. If the time value is set in the future, it will be overwritten with the current present time at ingestion.
                      distinct_id:
                        type: string
                        title: distinct_id
                        description: The unique identifier of the user who performed the event.
                      $insert_id:
                        type: string
                        title: $insert_id
                        description: A unique identifier for the event, used for deduplication. Events with identical values for (event, time, distinct_id, $insert_id) are considered duplicates; only the latest ingested one will be considered in queries.
                    additionalProperties: true
                additionalProperties: false
      responses:
        "200":
          $ref: "#/components/responses/StrictReceived"
        "400":
          $ref: "#/components/responses/StrictInvalid"
        "401":
          $ref: "#/components/responses/StrictUnauthorized"
        "413":
          $ref: "#/components/responses/StrictTooLarge"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
      description: |-
        Use this API to send batches of events from your servers to Mixpanel.

        ## Request Format

        Each request ingests a batch of events into Mixpanel. We accept up to 2000 events and 10MB uncompressed per request. Events are part of the request body. 

        We support Content-Type `application/json` or `application/x-ndjson`:

        {% tabs %}
        {% tab title="JSON" %}
        ```json
        [
          {"event": "Signup", "properties": {"time": 1618716477000,"distinct_id": "91304156-cafc-4673-a237-623d1129c801","$insert_id": "29fc2962-6d9c-455d-95ad-95b84f09b9e4","Referred by": "Friend","URL": "mixpanel.com/signup"}},
          {"event": "Purchase", "properties": {"time": 1618716477000,"distinct_id": "91304156-cafc-4673-a237-623d1129c801","$insert_id": "935d87b1-00cd-41b7-be34-b9d98dd08b42","Item": "Coffee", "Amount": 5.0}}
        ]
        ```
        {% endtab %}

        {% tab title="ndJSON" %}
        ```json
        {"event": "Signup", "properties": {"time": 1618716477000,"distinct_id": "91304156-cafc-4673-a237-623d1129c801","$insert_id": "29fc2962-6d9c-455d-95ad-95b84f09b9e4","Referred by": "Friend","URL": "mixpanel.com/signup"}}
        {"event": "Purchase", "properties": {"time": 1618716477000,"distinct_id": "91304156-cafc-4673-a237-623d1129c801","$insert_id": "935d87b1-00cd-41b7-be34-b9d98dd08b42","Item": "Coffee", "Amount": 5.0}}
        ```
        {% endtab %}
        {% endtabs %}
        We also support `Content-Encoding: gzip` to reduce network egress.

        ## Authentication

         `/import` requires an Owner or Admin [Service Account](https://app.gitbook.com/s/PTXfV1v47AbDFk5bjzT2/service-accounts). project\_id, service account username, and service account password are required to authenticate a request.

        `/import` also supports [Project Token](https://app.gitbook.com/s/PTXfV1v47AbDFk5bjzT2/project-token) as an authentication method. You can provide your token as the basic auth username value with an empty password. If project\_id is not specified, the request will be authenticated using the provided token.

        ## Validation

        If you provide the `strict=1` parameter (recommended), `/import` will validate the supplied events and return a 400 status code if **any** of the events fail validation with details of the error. If some events pass validation and others fail, Mixpanel will ingest the events that pass validation. When you encounter a 400 error in production, simply log the JSON response, as it will contain the `$insert_id`s of the invalid events, which can be used to debug.

        ### High-level requirements

        * Each event must be properly formatted JSON.
        * Each event must contain an event name, time, distinct\_id, and $insert\_id. These are used to deduplicate events so that this endpoint can be safely retried.
        * Each event must be smaller than 1MB of uncompressed JSON.
        * Each event must have fewer than 255 properties.
        * All nested object properties must have fewer than 255 keys and a max nesting depth is 3.
        * All array properties must have fewer than 255 elements.

        ### Example of an event

        ```json
        {
          "event": "Signed up",
          "properties": {
            "time": 1618716477000,
            "distinct_id": "91304156-cafc-4673-a237-623d1129c801",
            "$insert_id": "29fc2962-6d9c-455d-95ad-95b84f09b9e4",
            "ip": "136.24.0.114",
            "Referred by": "Friend",
            "URL": "mixpanel.com/signup",
          }
        }
        ```
        #### event

        This is the name of the event. If you're loading data from a data warehouse, we recommend using the name of the table as the name of the event.

        We recommend keeping the number of unique event names relatively small and using properties for any variable context attached to the event. For example, instead of tracking events with names "Paid Signup" and "Free Signup", we would recommend tracking an event called "Signup" and having a property "Account Type" with the value "paid" or "free".

        #### properties

        This is a JSON object representing all the properties about the event. If you're loading data from a data warehouse, we recommend using column names as the names of properties.

        ##### properties.time

        The time at which the event occurred, in seconds or milliseconds since epoch. We require a value for time. We will reject events with time values that are before 1971-01-01 or more than 1 hour in the future as measured on our servers.

        If the time value is set in the future, it will be overwritten with the current present time at ingestion.

        ##### properties.distinct\_id

        `distinct_id` identifies the user who performed the event. distinct\_id must be specified on every event, as it is crucial for Mixpanel to perform behavioral analysis (unique users, funnels, retention, cohorts) correctly and efficiently.

        If the event is not associated with any user, set distinct\_id to the empty string. Events with an empty distinct\_id will be excluded from all behavioral analysis.

        To prevent accidental implementation mistakes, we disallow the following values for distinct\_id:

        ```
        - 00000000-0000-0000-0000-000000000000
        - anon
        - anonymous
        - nil
        - none
        - null
        - n/a
        - na
        - undefined
        - unknown
        - <nil>
        - 0
        - -1
        - true
        - false
        - []
        - {}
        ```

        ##### properties.$insert\_id

        We require that $insert\_id be specified on every event. $insert\_id provides a unique identifier for the event, which we use for deduplication. Events with identical values for (event, time, distinct\_id, $insert\_id) are considered duplicates and only one of them will be surfaced in queries.

        $insert\_ids must be ≤ 36 bytes and contain only alphanumeric characters or "-". We also disallow any value for $insert\_id from the list of invalid IDs provided for distinct\_id above.

        ### Example of a validation error

        ```json
        {
          "code": 400,
          "error": "some data points in the request failed validation",
          "failed_records": [
            {
              "index": 0,
              "$insert_id": "8a66058c-a56d-4ef6-8123-28b7c9f7e82f",
              "field": "properties.time",
              "message": "properties.time' is invalid: must be specified as seconds since epoch"
            },
            {
              "index": 3,
              "$insert_id": "29fc2962-6d9c-455d-95ad-95b84f09b9e4",
              "field": "properties.utm_source",
              "message": "properties.utm_source is invalid: string should be valid utf8"
            },
          ],
          "num_records_imported": 23,
          "status": "Bad Request"
        }
        ```
        When any single event in the batch does not pass validation, we return a 400 status code and a response that looks like the above.

        `failed_records` includes one row for each of the failed events, with details about the error we found. If some of the rows passed validation, we will ingest them and return their count in `num_records_imported`.

        ## GeoIP Enrichment

        If you supply a property `ip` with an IP address, Mixpanel will automatically do a GeoIP lookup and replace the `ip` property with geographic properties (City, Country, Region). These properties can be used in our UI to segment events geographically.

        If you do not supply an `ip` property in your event payload, the IP address of the request will be used to parse for geolocation. You can set manually set the value of `ip` to `0` and our API will skip the geolocation parsing for that event.

        This is an example of an event before and after enrichment:

        {% tabs %}
        {% tab title="Pre-Enrichment" %}
        ```json
        {
          "event": "Signed up",
          "properties": {
            "time": 1618716477000,
            "distinct_id": "91304156-cafc-4673-a237-623d1129c801",
            "$insert_id": "29fc2962-6d9c-455d-95ad-95b84f09b9e4",
            "ip": "136.24.0.114",
            "Referred by": "Friend",
            "URL": "mixpanel.com/signup",
          }
        }
        ```
        {% endtab %}

        {% tab title="Post-Enrichment" %}
        ```json
        {
          "event": "Signed up",
          "properties": {
            "time": 1618716477000,
            "distinct_id": "91304156-cafc-4673-a237-623d1129c801",
            "$insert_id": "29fc2962-6d9c-455d-95ad-95b84f09b9e4",
            "Referred by": "Friend",
            "URL": "mixpanel.com/signup",
            "$city": "San Francisco",
            "$region": "California",
            "mp_country_code": "US"
          }
        }
        ```
        {% endtab %}
        {% endtabs %}
        ## Rate Limit

        To ensure real-time ingestion and quality-of-service, we have a rate limit of 2GB of uncompressed JSON/minute or \~30k events per second, measured on a rolling 1 minute basis.

        We recommend the following when it comes to sending data to our API at scale:

        * Send data as quickly as possible with concurrent clients until the server returns 429. We see the best results with 10-20 concurrent clients sending 2K events per batch.
        * When you see 429s, employ an [exponential backoff with jitter](https://docs.aws.amazon.com/general/latest/gr/api-retries.html) strategy. We recommend starting with a backoff of 2s and doubling backoff until 60s, with 1-5s of jitter.
        * We recommend gzip compression and using `Content-Encoding: gzip` to reduce network egress and transfer time.
        * In the rare event that our API returns a 502 or 503 status code, we recommend employing the same exponential backoff strategy as with 429s.
        * Please do not retry validation errors (400 status code), as they will consistently fail and count toward the rate limit.

        If you are an enterprise customer and require a higher limit for a 1-time backfill, please reach out to your sales representative with your project\_id and use-case.

        ## Common Issues

        `$insert_id` is required on all events. This makes it safe to retry `/import` requests. If your events don't already have a unique ID (eg: a UUID/GUID), we recommend computing a hash of some set of properties that make the event semantically unique (eg: distinct\_id + timestamp + some other property) and using the first 36 characters of that hash as the $insert\_id.

        We truncate all strings down to 255 characters. Here's what we recommend for the various cases in which this typically happens:

        * URLs: We recommend parsing the URL and tracking its individual components (host, path, url params) as properties. This is more useful in analysis, as you can segment events by hostname or a particular URL parameter.
        * JSON encoded strings: Sometimes a long string may be a JSON object encoded as a string. We recommend parsing the JSON and flattening it into properties to send with the event. This is similarly much more useful in analysis, as you can filter or breakdown by any key within the JSON.
        * Free text / user generated content: Some long fields may include full-text (eg: a search term or a comment). If this property isn't useful for analysis, we recommend excluding it from tracking to Mixpanel to avoid accidentally sending over any PII.

        ## Guides

        See our Cloud Ingestion guides for example usage of this API to integrate with  [Google Pub/Sub](https://app.gitbook.com/s/qGpd1uH02qXOCsOiKqLX/tracking-methods/integrations/google-pubsub), [Amazon S3](https://app.gitbook.com/s/qGpd1uH02qXOCsOiKqLX/tracking-methods/integrations/amazon-s3), or [Google Cloud Storage](https://app.gitbook.com/s/qGpd1uH02qXOCsOiKqLX/tracking-methods/integrations/google-cloud-storage).
  /track:
    post:
      tags:
        - Events
      operationId: track-event
      summary: Track Events
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 1, Mixpanel will use the ip address of the incoming request and compute a distinct_id using a hash function if no distinct_id is provided. This is different from providing a `properties.ip` value in the Event Object.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: img
          in: query
          description: If present and equal to 1, Mixpanel will serve a 1x1 transparent pixel image as a response to the request. This is useful for adding [Pixel Tracking](https://en.wikipedia.org/wiki/Web_beacon) in places that javascript is not supported.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
        - name: Accept
          in: header
          description: Preferred response body format. Use `application/json` for JSON responses or `text/plain` for plain text.
          required: false
          schema:
            type: string
            enum:
              - application/json
              - text/plain
      requestBody:
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - event
                  - properties
                properties:
                  event:
                    type: string
                    title: event
                    description: The name of the event.
                  properties:
                    type: object
                    title: properties
                    description: A JSON object containing properties of the event.
                    properties:
                      token:
                        type: string
                        title: token
                        description: Project token.
                      time:
                        type: integer
                        title: time
                        description: The time at which the event occurred, in seconds or milliseconds since UTC epoch. If the time value is set in the future, it will be overwritten with the current present time at ingestion.
                      distinct_id:
                        type: string
                        title: distinct_id
                        description: The unique identifier of the user who performed the event.
                      $insert_id:
                        type: string
                        title: $insert_id
                        description: A unique identifier for the event, used for deduplication. Events with identical values for (event, time, distinct_id, $insert_id) are considered duplicates; only the latest ingested one will be considered in queries.
                    additionalProperties: true
                additionalProperties: false
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: |-
        Track events to Mixpanel from client devices. We recommend using one of our client-side SDKs instead of using /track directly, as our SDKs provide queueing, retrying, batching, and more.

        ## When to use /track vs /import

        Typically, we recommend using /import for server-side integrations as it is more scalable and supports ingesting historical data. We only recommend /track for client-side tracking in an environment for which we don't have SDK support or if you're sending data via some other untrusted environment (eg: third-party webhooks that send data to Mixpanel).

        |                             | /track                                         | /import                                                               |
        | --------------------------- | ---------------------------------------------- | --------------------------------------------------------------------- |
        | Events per request          | 2000                                           | 2000                                                                  |
        | Authentication              | Project Token, intended for untrusted clients. | Project Secret/Service Account, intended for server-side integration. |
        | Compression                 | Gzip allowed                                   | Gzip allowed                                                          |
        | Content-Type                | application/x-www-form-urlencoded              | application/json or application/x-ndjson                              |
        | Ingesting historical events | Last 5 days only.                              | Any time after 1971-01-01.                                            |

        ## Limits

        The limits for track are the same as /import, [see here](https://app.gitbook.com/s/PTXfV1v47AbDFk5bjzT2/import-events#rate-limits).

        Each event has the following size limits:

        - Must be smaller than 1MB of uncompressed JSON.
        - Must have fewer than 255 properties.
        - All nested object properties must have fewer than 255 keys and max nesting depth is 3.
        - All array properties must have fewer than 255 elements.

        To ensure real-time ingestion and quality-of-service, we have a rate limit of 2GB of uncompressed JSON/minute or ~30k events per second, measured on a rolling 1 minute basis.

        We recommend the following when it comes to sending data to our API at scale:

        - Send data as quickly as possible with concurrent clients until the server returns 429. We see the best results with 10-20 concurrent clients sending 2K events per batch.
        - When you see 429s, employ an [exponential backoff with jitter](https://docs.aws.amazon.com/general/latest/gr/api-retries.html) strategy. We recommend starting with a backoff of 2s and doubling backoff until 60s, with 1-5s of jitter.
        - We recommend gzip compression and using `Content-Encoding: gzip` to reduce network egress and transfer time.
        - In the rare event that our API returns a 502 or 503 status code, we recommend employing the same exponential backoff strategy as with 429s.
        - Please do not retry validation errors (400 status code), as they will consistently fail and count toward the rate limit.

        If you are an Enterprise customer that requires a higher rate limit, please reach out to your CSM with your `project_id` and use case.
  /engage#profile-set:
    post:
      tags:
        - User Profiles
      operationId: profile-set
      summary: Set Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, and $set operation object.
                required:
                  - $token
                  - $distinct_id
                  - $set
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $set:
                    type: object
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: |-
        <Callout icon="📘" theme="info">
          This API will return a `200 OK` even if there are data validation issues. To ensure the request actually succeeded, you need to check the response body.
        </Callout>

        <Callout icon="📘" theme="info">
          This API does not support gzip encoding.
        </Callout>
  /engage#profile-set-once:
    post:
      tags:
        - User Profiles
      operationId: profile-set-property-once
      summary: Set Property Once
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, and $set_once operation object.
                required:
                  - $token
                  - $distinct_id
                  - $set_once
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $set_once:
                    type: object
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Works just like "$set", except it will not overwrite existing property values. This is useful for properties like "First login date".
  /engage#profile-numerical-add:
    post:
      tags:
        - User Profiles
      operationId: profile-numerical-add
      summary: Increment Numerical Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, and $add operation object.
                required:
                  - $token
                  - $distinct_id
                  - $add
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $add:
                    type: object
                    additionalProperties:
                      type: number
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Takes a JSON object containing keys and numerical values. $add will increment the value of a user profile property. When processed, the property values are added to the existing values of the properties on the profile. If the property is not present on the profile, the value will be added to 0. It is possible to decrement by calling "$add" with negative values. This is useful for maintaining the values of properties like "Number of Logins" or "Files Uploaded".
  /engage#profile-union:
    post:
      tags:
        - User Profiles
      operationId: user-profile-union
      summary: Union To List Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, and a $union operation object.
                required:
                  - $token
                  - $distinct_id
                  - $union
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $union:
                    type: object
                    minProperties: 1
                    additionalProperties:
                      type: array
                      minItems: 1
                      items:
                        oneOf:
                          - type: number
                          - type: string
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Adds the specified values to a list property on a user profile and ensures that those values only appear once. The profile is created if it does not exist.
  /engage#profile-list-append:
    post:
      tags:
        - User Profiles
      operationId: profile-append-to-list-property
      summary: Append to List Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, and $append operation object.
                required:
                  - $token
                  - $distinct_id
                  - $append
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $append:
                    type: object
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Takes a JSON object containing keys and values, and appends each to a list associated with the corresponding property name. Appending to a property that doesn't exist will result in assigning a list with one element to that property.
  /engage#profile-list-remove:
    post:
      tags:
        - User Profiles
      operationId: profile-remove-from-list-property
      summary: Remove from List Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, and $remove operation object.
                required:
                  - $token
                  - $distinct_id
                  - $remove
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $remove:
                    type: object
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Takes a JSON object containing keys and values. The value in the request is removed from the existing list on the user profile. If it does not exist, no updates are made.
  /engage#profile-unset:
    post:
      tags:
        - User Profiles
      operationId: profile-delete-property
      summary: Delete Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, and $unset operation object.
                required:
                  - $token
                  - $distinct_id
                  - $unset
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $unset:
                    type: array
                    minItems: 1
                    description: Profile properties to be removed.
                    items:
                      type: string
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Takes a JSON list of string property names, and permanently removes the properties and their values from a profile.
  /engage#profile-batch-update:
    post:
      tags:
        - User Profiles
      operationId: profile-batch-update
      summary: Update Multiple Profiles
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              format: blob
              description: A JSON list of update objects, each with a $token, $distinct_id, and an operation.
              default: |
                [
                    {
                        "$token": "YOUR_PROJECT_TOKEN",
                        "$distinct_id": "13793",
                        "$set": { "$email": "user1@mail.com" }
                    },
                    {
                        "$token": "YOUR_PROJECT_TOKEN",
                        "$distinct_id": "13794",
                        "$add": { "Coins Gathered": 13 }
                    },
                    {
                        "$token": "YOUR_PROJECT_TOKEN",
                        "$distinct_id": "13795",
                        "$unset": ["$email"]
                    }
                ]
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: |-
        > 📘
        >
        > This API will return a 200 OK even if there are data validation issues. To ensure the request actually succeeded, you need to check the response body.
  /engage#profile-delete:
    post:
      tags:
        - User Profiles
      operationId: delete-profile
      summary: Delete Profile
      security:
        - {}
      parameters:
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: callback
          in: query
          description: "If present, Mixpanel will return a `content-type: text/javascript` with a body that calls a function by value provided. This is useful for creating local callbacks to a successful track call in JavaScript."
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $distinct_id, $ignore_alias and a $delete operation object.
                required:
                  - $token
                  - $distinct_id
                  - $delete
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $distinct_id:
                    type: string
                    default: "13793"
                  $delete:
                    type: string
                    nullable: true
                    default: "null"
                  $ignore_alias:
                    type: boolean
                    default: false
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: |
        Permanently delete the profile from Mixpanel, along with all of its properties. The $delete object value is ignored - the profile is determined by the $distinct_id from the request itself.

        If you have duplicate profiles, use property $ignore_alias set to true so that you don't delete the original profile when trying to delete the duplicate (as they pass in the alias as the distinct_id).
  /groups#group-set:
    post:
      tags:
        - Group Profiles
      operationId: group-set-property
      summary: Update Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $group_key, $group_id, and $set operation object.
                required:
                  - $token
                  - $group_key
                  - $group_id
                  - $set
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $group_key:
                    type: string
                    default: Company
                  $group_id:
                    type: string
                    default: Mixpanel
                  $set:
                    type: object
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Updates or adds properties to a group profile. The profile is created if it does not exist.
  /groups#group-set-once:
    post:
      tags:
        - Group Profiles
      operationId: group-set-property-once
      summary: Set Property Once
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $group_key, $group_id, and $set_once operation object.
                required:
                  - $token
                  - $group_key
                  - $group_id
                  - $set_once
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $group_key:
                    type: string
                    default: Company
                  $group_id:
                    type: string
                    default: Mixpanel
                  $set_once:
                    type: object
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Adds properties to a group only if the property is not already set. The profile is created if it does not exist.
  /groups#group-unset:
    post:
      tags:
        - Group Profiles
      operationId: group-delete-property
      summary: Delete Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $group_key, $group_id, and $unset operation list.
                required:
                  - $token
                  - $group_key
                  - $group_id
                  - $unset
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $group_key:
                    type: string
                    default: Company
                  $group_id:
                    type: string
                    default: Mixpanel
                  $unset:
                    type: array
                    minItems: 1
                    description: Profile properties to be removed.
                    items:
                      type: string
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Unsets specific properties on the group profile.
  /groups#group-remove-from-list:
    post:
      tags:
        - Group Profiles
      operationId: group-remove-from-list-property
      summary: Remove from List Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $group_key, $group_id, and $remove operation object.
                required:
                  - $token
                  - $group_key
                  - $group_id
                  - $remove
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $group_key:
                    type: string
                    default: Company
                  $group_id:
                    type: string
                    default: Mixpanel
                  $remove:
                    type: object
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Removes a specific value in a list property.
  /groups#group-union:
    post:
      tags:
        - Group Profiles
      operationId: group-union
      summary: Union To List Property
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with a $token, $group_key, $group_id, and a union operation object.
                required:
                  - $token
                  - $group_key
                  - $group_id
                  - $unset
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $group_key:
                    type: string
                    default: Company
                  $group_id:
                    type: string
                    default: Mixpanel
                  $union:
                    type: object
                    minProperties: 1
                    additionalProperties:
                      type: array
                      minItems: 1
                      items:
                        oneOf:
                          - type: number
                          - type: string
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Adds the specified values to a list property on a group profile and ensures that those values only appear once. The profile is created if it does not exist.
  /groups#group-batch-update:
    post:
      tags:
        - Group Profiles
      operationId: group-batch-update
      summary: Batch Update Group Profiles
      security:
        - {}
      parameters:
        - name: ip
          in: query
          description: If present and equal to 0, Mixpanel will not perform geolocation parsing using the IP address of the request. We recommend setting the ip to "0" when making requests from the server-side to prevent the unintentional effect of overwriting your profile's geolocation with your server location. Defaults to 1 which would use the IP address of the request to update profile geolocation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
        - name: strict
          in: query
          description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              format: blob
              description: A JSON list of update objects, each with a $token, $group_key, $group_id, and an operation.
              default: |
                [
                    {
                        "$token": "YOUR_PROJECT_TOKEN",
                        "$group_key": "Company",
                        "$group_id": "Mixpanel",
                        "$set": {
                            "Address": "1313 Mockingbird Lane"
                        }
                    },
                    {
                        "$token": "YOUR_PROJECT_TOKEN",
                        "$group_key": "Company",
                        "$group_id": "Wayne Enterprises",
                        "$set_once": {
                            "Address": "Wayne Tower, Gotham City"
                        }
                    }
                ]
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: |-
        Send a batch of group profile updates. Instead of sending a single JSON object as the data query parameter, send a JSON list of objects as the data parameter of an application/x-www-form-urlencoded POST or GET request body.

        Refer to the respective group profile update commands ($set, $set_once, $add, $union, $remove, $unset, and $delete) on syntax for their parameters.
  /groups#group-delete:
    post:
      tags:
        - Group Profiles
      operationId: delete-group
      summary: Delete Group
      security:
        - {}
      parameters:
        - name: verbose
          in: query
          description: "If present and equal to 1, Mixpanel will respond with a JSON Object describing the success or failure of the tracking call. The returned object will have two keys: `status`, with the value 1 on success and 0 on failure, and `error`, with a string-valued error message if the request wasn't successful. This is useful for debugging during implementation."
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                description: A JSON update object, with $token, $group_key, and $group_id values and a $delete key.
                required:
                  - $token
                  - $group_key
                  - $group_id
                  - $set
                properties:
                  $token:
                    type: string
                    default: YOUR_PROJECT_TOKEN
                  $group_key:
                    type: string
                    default: Company
                  $group_id:
                    type: string
                    default: Mixpanel
                  $delete:
                    type: string
                    nullable: true
                    default: "null"
      responses:
        "200":
          $ref: "#/components/responses/Received"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      description: Deletes a group profile from Mixpanel.
  /lookup-tables:
    get:
      tags:
        - Lookup Tables
      operationId: list-lookup-tables
      summary: List Lookup Tables
      security:
        - ServiceAccount: []
      parameters:
        - name: project_id
          in: query
          description: The Mixpanel project_id, used to authenticate service account credentials.
          required: true
          schema:
            default: <YOUR_PROJECT_ID>
            type: string
      responses:
        "200":
          $ref: "#/components/responses/LookupTableList"
        "401":
          $ref: "#/components/responses/StrictUnauthorized"
      description: Get a list of Lookup Tables defined in the project.
  /lookup-tables/{id}:
    put:
      tags:
        - Lookup Tables
      operationId: replace-lookup-table
      summary: Replace a Lookup Table
      security:
        - ServiceAccount: []
        - ProjectSecret: []
      parameters:
        - name: id
          in: path
          description: The ID of the lookup table to replace which can be retreived from Lexicon under the lookup table's details, click [here](https://app.gitbook.com/s/qGpd1uH02qXOCsOiKqLX/data-structure/lookup-tables#where-can-i-find-the-id-of-the-lookup-table-for-apis-path-params) for more info.
          required: true
          schema:
            type: string
            format: uuid
        - name: project_id
          in: query
          description: The Mixpanel project_id, used to authenticate service account credentials.
          required: true
          schema:
            default: <YOUR_PROJECT_ID>
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: text/csv
            enum:
              - text/csv
      requestBody:
        content:
          text/csv:
            schema:
              type: string
              format: blob
              default: |
                id,field1,field2
                key1,v1,z1
                key2,z1,z2
      responses:
        "200":
          $ref: "#/components/responses/LookupTableReceived"
        "400":
          $ref: "#/components/responses/LookupTableInvalid"
        "401":
          $ref: "#/components/responses/StrictUnauthorized"
        "404":
          $ref: "#/components/responses/StrictNotFound"
        "413":
          $ref: "#/components/responses/StrictTooLarge"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
      description: |-
        Lookup Tables must be [created via our UI](https://app.gitbook.com/s/qGpd1uH02qXOCsOiKqLX/data-structure/lookup-tables#how-do-i-upload-a-lookup-table). Once a Lookup Table is created, its contents can be replaced via this API.

        ```sh
        curl -XPUT 'https://api.mixpanel.com/lookup-tables/ID?project_id={YOUR_PROJECT_ID}' \
             -u 'SERVICE_ACCOUNT_USER:SERVICE_ACCOUNT_PASS' \
             -H 'Content-Type: text/csv' \
             --data 'id,artist,genre,is_platinum,name,num_listens,release_date,is_top_40
        c994bb,Drake,Pop,True,Hotline Bling,1700000000,2015-10-18T22:00:00,true
        d8d949,Gipsy Kings,Flamenco,False,Bamboleo,1170000,1987-07-12T05:00:00,false
        a43fb8,Daft Punk,House,False,Aerodynamic,41000000,2001-03-12T07:30:00,false
        '
        ```
        ```python
        import requests

        data = """id,artist,genre,is_platinum,name,num_listens,release_date,is_top_40
        c994bb,Drake,Pop,True,Hotline Bling,1700000000,2015-10-18T22:00:00,true
        d8d949,Gipsy Kings,Flamenco,False,Bamboleo,1170000,1987-07-12T05:00:00,false
        a43fb8,Daft Punk,House,False,Aerodynamic,41000000,2001-03-12T07:30:00,false
        """

        id = "LOOKUP_TABLE_ID"
        project_id = "PROJECT_ID"

        resp = requests.put(
            f"https://api.mixpanel.com/lookup-tables/{id}?project_id={project_id}",
            headers={"Content-Type": "text/csv",
            auth=(SERVICE_ACCOUNT_USER, SERVICE_ACCOUNT_PASS),
            data=data
        )
        print(resp.json()
        ```

        ### Validation

        * The first column of the lookup table is assumed to be the ID of the row. All ID values must be unique.
        * The first row of the lookup table is a header row. The values in the header must be unique, as each one uniquely identifies a column of the table. These will appear as properties of the lookup table in Mixpanel's UI.
        * The CSV must be valid according to RFC4180.
        * If the `Content-Encoding: gzip` header is supplied, the table will be decompressed before parsing.

        #### Types

        * Integers or floats will be parsed as numbers.
        * RFC3339 timestamps (`2021-08-21T05:36:01Z`) will parsed as datetimes.
        * `true` or `false` (case-insensitive) will be parsed as boolean.
        * Empty fields (two adjacent commas) will be treated as `undefined`
        * Comma separated, quoted strings in square brackets (`"[""Free"",""Paid"",""Enterprise""]"`) will be parsed as list of strings.
        * All other values will be treated as strings.

        #### Errors

        Lookup Tables are replaced in their entirety or not replaced at all. When the Lookup Table fails to meet the above validation, we return an error that looks as follows:

        ```json
        {
          "error": "some data points in the request failed validation",
          "failed_records": [
            {
              "index": 2,
              "message": "invalid row: row indexes 1 and 2 have the same primary key"
            },
            {
              "index": 3,
              "message": "invalid row: wrong number of fields"
            }
          ],
          "status": 0
        }
        ```

        We will return at most the first 10 rows that failed validation.

        ### Limits

        This endpoint will return a 429 error if called more than 100 times in a rolling 24 hour window. We recommend updating lookup tables at most hourly to stay within this limit.

        This endpoint will return a 413 error if a Lookup Table exceeds 100MB uncompressed. In practice, this translates to 1-2M rows. If you have a lookup table that exceeds the limit, we recommend pruning the number of columns to those that are useful to analysis. Removing long URLs or user-generated content can bring a lookup table within this limit. If you still exceed the limit, please reach out to us at [apis@mixpanel.com](mailto:apis@mixpanel.com) -- we'd love to hear your use case!
components:
  securitySchemes:
    ServiceAccount:
      type: http
      scheme: basic
      description: Service Account
    ProjectSecret:
      type: http
      scheme: basic
      description: Project Secret
    OAuthToken:
      type: http
      scheme: bearer
      description: OAuth Token
  schemas:
    ImportRequestParameters:
      allOf:
        - type: object
          properties:
            strict:
              allOf:
                - type: integer
                  minimum: 0
                  maximum: 1
                - description: If present and equal to 1, Mixpanel will validate the provided records and return a JSON object with per-record error messages for records that fail validation.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        status:
          type: string
          enum:
            - error
  responses:
    LookupTableList:
      description: The list of Lookup Tables.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: number
              status:
                type: string
              results:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
            example:
              code: 200
              status: OK
              results:
                - id: 55b4fb2b-e8de-466c-930f-8b36640b9b5e
                  name: Accounts
                - id: 1297297a-43a7-4cac-82b0-635d2bd88aac
                  name: Product Catalog
    LookupTableReceived:
      description: A 200 response indicates all records were successfully ingested.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              status:
                type: string
            example:
              code: 200
              status: OK
    LookupTableInvalid:
      description: A 400 response indicates that some records failed validation.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              error:
                type: string
              status:
                type: string
              failed_records:
                type: array
                items:
                  type: object
                  properties:
                    index:
                      type: number
                    message:
                      type: string
            example:
              code: 400
              error: Some data points in the request failed validation.
              status: Bad Request
              failed_records:
                - index: 2
                  message: primary key is required and cannot be blank
                - index: 3
                  message: "invalid row: wrong number of fields"
    StrictReceived:
      description: A 200 response indicates all records were successfully ingested.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              num_records_imported:
                type: integer
              status:
                type: string
            example:
              code: 200
              num_records_imported: 2000
              status: OK
    StrictInvalid:
      description: A 400 response indicates that some records failed validation.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              error:
                type: string
              status:
                type: string
              num_records_imported:
                type: integer
              failed_records:
                type: array
                items:
                  type: object
                  properties:
                    index:
                      type: number
                    insert_id:
                      type: string
                    field:
                      type: string
                    message:
                      type: string
            example:
              code: 400
              num_records_imported: 999
              status: Bad Request
              failed_records:
                - index: 0
                  insert_id: 13c0b661-f48b-51cd-ba54-97c5999169c0
                  field: properties.time
                  message: "'properties.time' is invalid: must be specified as seconds since epoch"
    StrictUnauthorized:
      description: A 401 response indicates invalid credentials.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              error:
                type: string
              status:
                type: string
            example:
              code: 401
              error: Invalid credentials
              status: Unauthorized
    StrictNotFound:
      description: A 404 response indicates that the entity to replace was not found.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              error:
                type: string
              status:
                type: string
            example:
              code: 200
              error: Lookup table with id 'f077cb07-008a-4955-8a4a-b4c163db3a87' was not found.
              status: Not Found
    StrictTooLarge:
      description: A 413 response indicates that the payload is too large.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              error:
                type: string
              status:
                type: string
            example:
              code: 413
              error: request exceeds max limit of 2097152 bytes
              status: Request Entity Too Large
    RateLimitExceeded:
      description: A 429 response indicates rate limits have been exceeded.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              error:
                type: string
              status:
                type: string
            example:
              code: 429
              error: Project exceeded rate limits. Please retry the request with exponential backoff.
              status: Too Many Requests
    Received:
      content:
        text/plain:
          schema:
            type: integer
            enum:
              - 1
              - 0
          examples:
            Valid Data:
              value: 1
            Invalid Data:
              value: 0
      description: |
        
        * `1` - One or more objects provided are valid. This does not signify a valid project token or secret.
        * `0` - No data objects in the body are valid.
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
x-explorer-enabled: true
x-proxy-enabled: true
x-samples-enabled: true
x-samples-languages:
  - curl
  - node
  - ruby
  - javascript
  - python
